x/laskarit/viikko2/Maksukortti/nbproject/private/
/laskarit/viikko2/Maksukortti/build/
/laskarit/viikko2/Unicafe/target
/laskarit/viikko2/Unicafe/nbproject/
/lintuapp/Birdapp/target/
/lintuapp/Birdapp-20190331T173333Z-001/Birdapp/nbproject/
/lintuapp/Birdapp/nbproject/
/lintuapp/.DS_Store
/lintuapp/Birdapp/.DS_Store
.DS_Store
/lintuapp/Birdapp/_DS_Store
/lintuapp/Birdapp/src/.DS_Store
/lintuapp/Birdapp/src/_DS_Store
/lintuapp/Birdapp/src/main/_DS_Store
/lintuapp/Birdapp/src/main/.DS_Store
/lintuapp/Birdapp/src/main/java/_DS_Store
/lintuapp/Birdapp/src/main/java/birdapp/_DS_Store
.DS_Store
