/laskarit/viikko2/Maksukortti/nbproject/private/
/laskarit/viikko2/Maksukortti/build/
/laskarit/viikko2/Unicafe/target
/laskarit/viikko2/Unicafe/nbproject/
/lintuapp/Birdapp/target/
/lintuapp/Birdapp-20190331T173333Z-001/Birdapp/nbproject/
/lintuapp/Birdapp/nbproject/